<footer class="footer">
    <section class="footer__company-info">
        <img class="footer__company-logo" src="" alt="Company info logo">
        <address>
            <!-- address, email, info, etc... -->
        </address>
    </section>
    <nav class="footer__navigation">
        <ul class="footer__links">
            <li class="footer__item"></li>
            <li class="footer__item"></li>
            <li class="footer__item"></li>
            <li class="footer__item"></li>
        </ul>
        <ul class="footer__links">
            <li class="footer__item"></li>
            <li class="footer__item"></li>
            <li class="footer__item"></li>
            <li class="footer__item"></li>
        </ul>
    </nav>
</footer>