<footer class="footer">
    <section class="footer__company-info">
        <img class="footer__company-logo" src="" alt="Company info logo">
        <address>
            <a href="mailto:{{ site.data.company_info.email }}">
                {{ site.data.company_info.email }}
            </a>
            <br>
            <a href="tel:{{ site.data.company_info.phone }}">
                {{ site.data.company_info.phone }}
            </a>
            <br>
            {{ site.data.company_info.address }}
        </address>
    </section>
    <nav class="footer__navigation">
        {% for links in site.data.navigation %}
            <ul class="footer__links">
                {% for link in links[1] %}
                    <li class="footer__item">
                        <a href=/website/{{ link.url }}>{{ link.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </nav>
</footer>