<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <!-- <img class="navbar__logo" src="" alt="Navbar company logo"> -->
        </li>
        {% for item in site.data.navigation.menu %}
            <li class="navbar__item"><a href=/website/{{ item.url }} >{{ item.name }}</a></li>
        {% endfor %}
        <li class="navbar__item--estimate">
            <button class="estimate__button">
                <a href="/website/estimate" class="estimate__link">Estimate</a>
            </button>
        </li>
    </ul>
</nav>