<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <img class="navbar__logo" src="" alt="Navbar company logo">
        </li>
        <li class="navbar__item">About</li>
        <li class="navbar__item">Clients</li>
        <li class="navbar__item">Contact</li>
        <li class="navbar__estimate">
            <button class="estimate__button">
                <a href="/website/estimate" class="estimate__link">Estimate</a>
            </button>
        </li>
    </ul>
</nav>