@import 'config/variables';
@import 'config/typography';

@import 'helpers';

@import 'modules/about';
@import 'modules/estimate';
@import 'modules/error';
@import 'modules/services';

html {
    background: $purple;
    font-size: $base;
    font-family: $font-primary;
    color: $purple;
}

body {
    background: $white;
}

a {
    text-decoration: none;
}

a, p {
    font-family: $font-secondary;
}

h1 {
    font-size: $h1;
    margin: $base auto;
}

h4 {
    font-size: $h4;
}

hr {
    border: none;
    border-bottom: 1px solid $purple;
    max-width: $base * 4;
    margin: $base * 2 auto;
}

input, textarea, label {
    box-sizing: border-box;
}

input[type=submit], button {
    border-radius: 3px;
    cursor: pointer;
}

input:focus, textarea:focus {
    outline: $green solid 2px;
}