%button {
    border: 1px solid $purple;
    padding: $base / 3 $base;
    background: $purple;
    color: $white;
    cursor: pointer;

    &:hover {
        background: darken($purple, 2%);
        border: 1px solid $purple;
    }

    a {
        color: $white;
    }
}

%center-list {
    display: table;
	margin: 0 auto;
}