.estimate {
    text-align: center;

    &__button {
        @extend %button;
    }

    &__form {
        display: inline-block;
        background: $purple;
        color: $white;
        font-weight: 100;
        max-width: $desktop-xl / 2;
        margin-bottom: $base * 2;

        fieldset {
            border: none;
        }

        input, textarea {
            background: $white;
            border: 1px solid $white;
            padding: $base / 2;
            color: $purple;

            &::placeholder {
                color: $purple;
                font-weight: 100;
                opacity: 0.95;
            }
        }
    }

    &__submit {
        @extend %button;
    }
}