.estimate {
    text-align: center;

    &__content {
        margin-bottom: $base * 2;
    }

    &__button {
        @extend %button;
    }

    &__footer {
        margin-bottom: $base;
        text-align: center;
        position: relative;
        border: 1px solid $purple;
        border-bottom-width: 3px;
        display: inline-block;
        padding: $base * 2;
        font-weight: 100;
    }

    &__form {
        display: inline-block;
        background: $purple;
        color: $white;
        font-weight: 100;
        max-width: $desktop-xl / 2;
        margin-bottom: $base * 2;

        fieldset {
            border: none;
        }

        input, textarea {
            background: $white;
            border: 1px solid $white;
            padding: $base / 2;
            color: $purple;

            &::placeholder {
                color: $purple;
                font-weight: 100;
                opacity: 0.95;
            }
        }
    }

    &__submit {
        @extend %button;
    }

    &__services {
        list-style: none;
        text-align: center;
        margin: 0 0 $base 0;
    }

    &__service {
        display: inline-block;
        padding: 0 $base;

        &:first-child {
            border-right: 1px solid $purple;
        }

        &:last-child {
            border-left: 1px solid $purple;
        }
    }
}