.services {
    text-align: center;

    &__content {
        margin-bottom: $base;
        min-height: 100vh;

        &--half {
            min-height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__footer {
        margin-bottom: $base;
        text-align: center;
        position: relative;
        border: 1px solid $purple;
        border-bottom-width: 3px;
        display: inline-block;
        padding: $base * 2;
        font-weight: 100;
    }

    &__list {
        list-style: none;
        text-align: center;
        margin: 0 0 $base 0;
    }

    &__service {
        display: inline-block;
        padding: 0 $base;

        &:first-child {
            border-right: 1px solid $purple;
        }

        &:last-child {
            border-left: 1px solid $purple;
        }
    }

    &__contact {
        @include underlined;
    }
}

.technology {
    width: calc(100% + #{$base * 2});
    margin-left: -$base;
    padding: $base 0;
    text-align: center;
    min-height: 100vh;
    
    &--purple {
        background: $purple;
    }

    &__electron,
    &__node {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: $base * 2;
    }

    &__heading {
        color: $white;
    }

    &__foreword {
        color: $white;
        max-width: $desktop-l / 2;
        line-height: $base * 1.5;
        margin: $base auto;
    }

    &__list {
        box-sizing: border-box;
        padding: $base;
        font-size: 0;
        list-style: none;
    }

    &__item {
        color: $white;
        font-size: $base;
        display: inline-block;
        width: 33%;
        height: 30vh;
        vertical-align: top;
        position: relative;

        p:first-child {
            display: inline-block;
            padding-bottom: $base;
            @include underlined;
        }
    }

}