// Color variables
$white:                 #fff;
$black:                 #000;

// Font config

// Page gutter
$page-gutter:           16px;

// Screen breakpoints
// S, tablet screen
$tablet:                768px !default;

// L screen 
$desktop-l:             1024px !default;

// XL screen
$desktop-xl:            1400px !default;

// Asset paths
$asset-path: '' !default;
