---
layout: default
---

<section class="estimate">

    {% include header.html masthead="Estimate your app cost" %}

    <form action="https://formspree.io/xxxgmail.com" method="POST" class="estimate__form">
        <fieldset>
        <label for="name">Your Name</label>
        <input class="estimate__form--name-input" id="name" name="name" type="text" placeholder="John">
        <label for="surname">Surname</label>
        <input class="estimate__form--name-input" id="surname" name="surname" type="text" placeholder="Doe">
        </fieldset>

        <fieldset>
        <label for="email">Email</label>
        <input class="estimate__form--email" type="text" id="email" name="_replyto" placeholder="myemail@gmail.com">
        <label for="phone">Phone Number</label>
        <input class="estimate__form--phone" type="text" id="phone" name="phone" placeholder="Phone Number">
        </fieldset>

        <fieldset>
        <label class="estimate_form--textarea-info" for="content">how can we help you?</label>
        <textarea id="content" name="content"></textarea>

        <input type="hidden" name="_subject" value="New estimate enquiry" />
        <input type="text" name="_gotcha" style="display:none" />

        <input class="estimate__submit" type="submit" value="Send">
        </fieldset>

    </form>

</section>