---
layout: default
---

<section class="estimate">

    <div class="estimate__content">
        <h1>What we are able to deliver?</h1>
        <ul>
            <li>modern mobile applications</li>
            <li>ultimate solutions for the business</li>
            <li>extraordinary end user experience</li>
        </ul>
        <h2>...and many more. Just give us a shout!</h2>
    </div>

    <form action="" class="estimate__form">
        <label for="firstname">Name</label>
        <input class="estimate__form--name-input" id="firstname" type="text" placeholder="Name">

        <label for="lastname">Last Name</label>
        <input class="estimate__form--lastname-input" id="lastname" type="text" placeholder="Last Name">

        <label for="email">Email</label>
        <input class="estimate__form--email" type="text" id="email" placeholder="Email">

        <label for="phone">Phone Number</label>
        <input class="estimate__form--phone" type="text" id="phone" placeholder="Phone Number">

        <label class="estimate_form--textarea-info" for="textarea">how can we help you?</label>
        <textarea id="textarea"></textarea>

        <input type="submit">Submit</input>
    </form>
</section>