---
layout: default
---

<section class="estimate">

    {% include header.html masthead="Estimate your app cost" %}

    <form action="https://formspree.io/xxxgmail.com" method="POST" class="estimate__form">
        <fieldset class="estimate__input-group">
            <label class="estimate__label" for="name">Your Name</label><!--
            --><input class="estimate__input" id="name" name="name" type="text" placeholder="John" required>
        </fieldset>

        <fieldset class="estimate__input-group">
            <label class="estimate__label" for="email">Email</label><!--
            --><input class="estimate__input" type="text" id="email" name="_replyto" placeholder="myemail@gmail.com" required>
        </fieldset>
        <fieldset class="estimate__input-group">
            <label class="estimate__label" for="phone">Phone No.</label><!--
            --><input class="estimate__input" type="text" id="phone" name="phone" placeholder="+44 20 1111 2222">
        </fieldset>

        <fieldset class="estimate__input-group">
            <label class="estimate__more-info" for="content">How can we help you?</label>
            <textarea rows="5" class="estimate__text-content" id="content" name="content" required></textarea>
            <input type="hidden" name="_subject" value="New estimate enquiry" />
            <input type="text" name="_gotcha" style="display:none" />
        </fieldset>
        <fieldset class="estimate__input-group">
            <input class="estimate__input estimate__input--submit" type="submit" value="Submit an enquiry">
        </fieldset>
    </form>

</section>