---
layout: default
---

<section class="services">
  {% include header.html masthead="What are we able to deliver?" %}
    <section class="services__content">
        <ul class="services__list">
            <li class="services__service">Native Android & IOS apps</li>
            <li class="services__service">Machine Learning experience</li>
            <li class="services__service">Cross-platform software</li>
        </ul>
        <h2 class="services__footer">...and many more. Just give us a shout!</h2>
      </section>

    <section class="services__technology">
      <ul class="technology__list">
        <li class="technology__item"></li>
        <li class="technology__item">
          <img class="technology__electron" src="{{ "/assets/electron.svg" | prepend: site.baseurl }}" alt="Electron logo">
        </li>
        <li class="technology__item"></li>
      </ul>
    </section>

  <p class="">{{ content }}</p>
</section>