---
layout: default
---

<section class="services">
    <section class="services__content">
        {% include header.html masthead="What are we able to deliver?" %}
        <ul class="services__list">
            <li class="services__service">Native Android & IOS apps</li>
            <li class="services__service">Machine Learning experience</li>
            <li class="services__service">Cross-platform software</li>
        </ul>
        <hr>
      </section>

      <section class="services__content">
        <ul class="services__list">
          <li class="services__service">
            <img src="{{ "/assets/nodejs.svg " | prepend: site.baseurl }}" alt="">
          </li>
          <li class="services__service">
            <img src="{{ "/assets/electron.svg " | prepend: site.baseurl }}" alt="">
          </li>
          <li class="services__service"></li>
          <li class="services__service"></li>
          <li class="services__service"></li>
        </ul>
      </section>

      <section class="technology technology--purple">
        <ul class="technology__list">
          <li class="technology__item">
            <p>Android</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </li>
          <li class="technology__item">
            <p>IOS</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </li>
          <li class="technology__item">
            <p>NodeJs</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </li>
        </ul>
      </section>

    <section class="services__content services__content--half">
      <h2 class="services__footer">And there's much more. <span class="services__contact">Contact us.</span></h2>
    </section>

  <p class="">{{ content }}</p>
</section>