.navbar {
    padding: $base 0;
    border-bottom-color: $purple;
    border-bottom-style: solid;
    border-bottom-width: 3px;

    &__list {
        @extend %center-list;
        list-style: none;
        padding: 0;
    }

    &__item {
        display: inline;
        margin: 0 $base / 2;
        border-bottom: 1px solid #1DE9B6;

        &--estimate {
            display: inline;
        }
    }
}
